{% extends 'base.html' %}

{% block body %}
    <h2 class="text-center">DETAIL</h2>
    <h3>{{ article.pk }} 번째 글</h3>
    <hr>

    <p>글 제목: {{ article.title }}</p>
    <p>글 내용: {{ article.content }}</p>
    <p>글 생성 시각: {{ article.created_at|date:"SHORT_DATE_FORMAT" }}</p>
    <p>글 수정 시각: {{ article.updated_at|date:"M, j, Y" }}</p>
    <hr>

    <form action="{% url 'articles:comments_create' article.pk %}", method="POST">
        {% csrf_token %}
        <label for="content">COMMENT</label><br>
        <input type="text" name="content", id="content"><br>
        <input type="submit" value="댓글 작성" class="btn btn-warning">
    </form>
    <hr>

    <p><b>댓글 목록 ({{ article.comments.all|length }})</b></p>
    {% for comment in article.comments.all %}
        <li name="comment">{{ comment.content }}</li>
        <form action="{% url 'articles:comments_delete' article.pk comment.pk %}", method="POST">
            {% csrf_token %}
            <input type="submit" value="댓글 삭제" class="btn btn-danger">
        </form>
        <a href="{% url 'articles:comments_update' article.pk comment.pk %}">[댓글 수정]</a>
        <hr>
    {% empty %}
        <p><b>댓글이 없네유.... 댓글 좀 써주세유....</b></p>
    {% endfor %}
    <!-- <a href="/articles/{{ article.pk }}/delete/">[글 삭제]</a><br> -->
    <form action="{% url 'articles:delete' article.pk %}" method="POST">
        {% csrf_token %}
        <!-- <a href="" type="submit">[글 삭제]</a><br> -->
        <input type="submit" value="[글 삭제]">
    </form>
    <!-- <a href="/articles/{{ article.pk }}/edit/">[글 수정]</a><br> -->
    <a href="{% url 'articles:update' article.pk %}">[글 수정]</a><br>
    <!-- <a href="/articles/">[메인 페이지]</a> -->
    <a href="{% url 'articles:index' %}">[메인 페이지]</a>
{% endblock %}