#font1 {
    font-size: 30px;
    font-family: 'Nanum Brush Script', cursive;
    font-weight: 500;
    letter-spacing: 5px;
    text-align: center;
}

#font2 {
    font-size: 40px;
    font-family: 'Ropa Sans', sans-serif;
    font-weight: 500;
    letter-spacing: 5px;
    text-align: center;
}